.upperborder {
    border-bottom-style: dashed;
  }

  header {
    background: center/cover no-repeat url('../properties/images/home_banner_image.png');
    height: 550px;
  }

  .one-the-img-line-1 {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    right: 15%;
    bottom: 265px;
    left: 15%;
    z-index: 1;
  }

  .footer-search-button {
    padding: 14px 75px;
  }

  .padding-for-footer {
    padding-left: 180px;
  }

  .seperation-height {
    padding-top: 620px;
  }

  .pl-2 {
    padding-inline-end: 62px;
  }

  h3 {
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 60px;
  }

  .mt-0 {
    margin-top: 0 !important;
  }